body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

form, #success {
  max-width: 420px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input, select, textarea, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  background: #0a4cff;
  color: white;
  border: none;
  cursor: pointer;
}

#loader {
  text-align: center;
  margin-top: 80px;
}
